services:
  app:
    build: .
    container_name: ml_app
    ports:
      - "8000:8000"
    depends_on:
      - database
    volumes:
      - .:/app

  database:
    image: postgres:15
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"


