services:
  app:
    build: .
    container_name: ml_app
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - database
      - rabbitmq
    volumes:
      - .:/app
    networks:
      - ml_net

  database:
    image: postgres:15
    container_name: ml_postgres
    environment:
      POSTGRES_DB: mydb
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - ml_net

  rabbitmq:
    image: rabbitmq:management
    container_name: ml_rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - ml_net
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  worker1:
    build: .
    container_name: worker1
    command: python worker/worker.py
    depends_on:
      - rabbitmq
      - database
    volumes:
      - .:/app
    networks:
      - ml_net

  worker2:
    build: .
    container_name: worker2
    command: python worker/worker.py
    depends_on:
      - rabbitmq
      - database
    volumes:
      - .:/app
    networks:
      - ml_net

  web-proxy:
    image: nginx:latest
    container_name: ml_nginx
    ports:
      - "80:80"
    depends_on:
      - app
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d
    networks:
      - ml_net

volumes:
  postgres_data:
  rabbitmq_data:

networks:
  ml_net:

